.container
  .row
    .col.s12.m6.offset-m3
      .valign-wrapper(style="height:70vh; ")
        .valign.center-align
          %h2 Adventure Data
          %ul.collapsible.popout(data-collapsible='accordion')
            %li.center-align
              .collapsible-header
                Sign Up
              .collapsible-body(style="padding: 20px;")
                Sign Up Form
            %li.center-align
              .collapsible-header
                Sign In
              .collapsible-body(style="padding: 20px;")
                Sign In Form
